@model EasyErrorHandlingMvc.Rendering.NotFoundViewModel
<h2>Not Found</h2>
<p>The resource you requested wasn't found. We are sorry :(</p>
<p>@Html.LabelFor(x => x.RequestedUrl): @Model.RequestedUrl</p>
